body {
    font-family:"Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f8f8;
    padding: 10px 20px;
}

.logo img {
    height: 40px;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.search-bar button {
    padding: 10px 10px;
    background-color: #26507F;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 5px;
}

.search-bar button:hover {
    background-color: #26507F;
    opacity:0.8;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

.auth-buttons button {
    margin-left: 10px;
    padding: 10px 15px;
    background-color: #26507F;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.auth-buttons button:hover {
    background-color: #26507F;
    opacity:0.8;
}

.hero {
    background-color: #26507F;
    color: white;
    padding: 50px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
}
.hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 4px 0;
}
.hamburger {
    display: flex;
}
.image-content {
    flex: 1;
    display: flex;
    justify-content: center;
}

.image-content img {
    width: 100%;
    max-width: 500px;
    height: auto;
}
.shop-now {
    background-color: white;
    color: #26507F;
    border: none;
    padding: 15px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.shop-now:hover {
    background-color: #e0e0e0;
}

.services {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #f1f1f1;
}

.service {
    text-align: center;
    flex: 1;
    margin: 0 10px;
}

.categories {
    padding: 20px;
    text-align: center;
}

.category-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.category-item {
    text-align: center;
    margin: 10px;
    flex: 1;
}

.category-item img {
    max-width: 100px;
    display: block;
    margin: 0 auto 10px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #f8f8f8;
}
